@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 100px; /* bottom = footer height */
	padding: 0px;
	bottom: 0;
	margin-bottom: 0px;
	min-width: 60%;
	width: 100%;
	max-width: 1400px;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #333;
	background-image: url(birds.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
	background-color: #fff;
}

header {
	width: 100%;
	text-align: center;
	
}


.header-logo {
	display: block;
	width: 900px;
	height: 152px;
	background: url(mp-logo-pp.png) no-repeat;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 0px;
}
 
section {
	margin: 0 auto;
    text-align:left;
	min-width: 600px;
	max-width: 80%;
	padding-right: 10px;
	padding-left: 10px;

}

section p {
	font-size: 15px;
	margin: 10px 0px 20px 0px;
}

h1, h2, h3 {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 100;
	margin: 25px 0;
}

h1 {
	color: #333;
	font-size: 28px;
	letter-spacing: 3px;
	line-height: 30px;
}

h2 {
	font-size: 22px;
	color: #333;
	letter-spacing: 2px;
	line-height: 30px;
}

h3 {
	font-size: 20px;
	color: #333;
	letter-spacing: 2px;
	line-height: 30px;
}

h4 {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 100;
	font-size: 18px;
	color: #333;
}


/*CSS Box Shadow created on http://css-tricks.com/snippets/css/css-box-shadow/*/
.img-shadow {
	border-width: 0px;
	-webkit-box-shadow: 3px 3px 3px #7C7C7C;
	box-shadow: 3px 3px 3px #7C7C7C;
}

a:link {
	color: #0078ca;
}

a:visited {
	color: #0078ca;
}

a:hover {
	color: #ea9629;
	text-decoration: underline;
}

a:active {
	color: #E1B152;
}

span {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 100;
	font-size: 18px;
	color: #039;
}

hr {
	margin: 30px 0 0px 0;
}

/* Gradient transparent - color - transparent */ 
	hr.style-two { 
	border: 0; 
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/*Transparent*/
.grad1 {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4ODYwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiODg2MGIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(184,134,11,1) 0%, rgba(184,134,11,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(184,134,11,1)), color-stop(100%,rgba(184,134,11,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(184,134,11,1) 0%,rgba(184,134,11,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(184,134,11,1) 0%,rgba(184,134,11,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(184,134,11,1) 0%,rgba(184,134,11,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(184,134,11,1) 0%,rgba(184,134,11,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8860b', endColorstr='#00b8860b',GradientType=1 ); /* IE6-8 */
	width: 90%;
	text-align: center;
}


/*Thumbnail Grid*/
nav {
  margin: 15px;
}
 
ul {
  list-style-type: none;
  width: 85%;
}
 
li img {
  float: left;
  margin: 0 15px 30px 0;
}
 
li p {
  font: 13px;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

.back-to-top {
	display: none;
}

.back-to-top:hover {	
	
}
		
footer {
    position: absolute;
    left: 0;
    bottom: 0;
	background-color: #282e28;
    height: 70px;
    width: 100%;
}

footer address {
	text-align: center;
	font-style: normal;
	font-size: 11px;
	color: #fff;
}
